<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:requiredth="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Z English</title>
  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" th:href="@{/static/css/cs-skin-elastic.css}">
  <link rel="stylesheet" th:href="@{/static/css/style.css}">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<style>
  .bg-info {
    background-color: #209e85 !important;
  }
</style>
<body>

<div th:replace="common/admin-leftbar::leftbar"/>


<div id="right-panel" class="right-panel">

  <div th:replace="common/admin-header::header"/>


  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-info">
            <strong style="color: #fffffc">Sửa từ</strong>
          </div>
          <div class="card-body card-block">
            <form th:action="@{/admin/updateWord/}+${word.getWordId()}" method="post"
                  enctype="multipart/form-data" class="form-horizontal">
              <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">ID</label>
                </div>
                <div class="col-12 col-md-9"><input type="text" id="text-input" name="wordId"
                                                    placeholder="Text" class="form-control " disabled
                                                    th:value="${word.getWordId()}" required></div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Từ</label>
                </div>
                <div class="col-12 col-md-9"><input type="text" name="wordName" placeholder="Text"
                                                    class="form-control"
                                                    th:value="${word.getWordName()}" required></div>
              </div>

              <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label">Phát âm</label></div>
                <div class="col-12 col-md-9"><input type="text" name="audio" placeholder="Text"
                                                    class="form-control"
                                                    th:value="${word.getAudio()}" required></div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Ý nghĩa</label>
                </div>
                <div class="col-12 col-md-9"><input type="text" name="explanation" class="form-control"
                                                    th:value="${word.getExplanation()}" required></div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label"
                                                 for="text-input">Ví dụ 1</label></div>
                <div class="col-12 col-md-9"><input type="text" class="form-control" name="englishInstance1"
                                                    th:value="${word.getEnglishInstance1()}" required></div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label"
                                                 for="text-input">Dịch ví dụ 1</label></div>
                <div class="col-12 col-md-9">
                  <input type="text" class="form-control" name="vietnameseInstance1"
                                                      th:value="${word.getVietnameseInstance1()}" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label"
                                                 for="text-input">Ví dụ 2</label></div>
                <div class="col-12 col-md-9"><input type="text" class="form-control" name="englishInstance2"
                                                    th:value="${word.getEnglishInstance2()}" required></div>
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label class=" form-control-label"
                                                 for="text-input">Dịch ví dụ 2</label></div>
                <div class="col-12 col-md-9"><input type="text" class="form-control" name="vietnameseInstance2"
                                                    th:value="${word.getVietnameseInstance2()}" required></div>
              </div>

              <div class="row form-group">
                <div class="col col-md-3"><label for="select" class=" form-control-label">Unit</label>
                </div>
                <div class="col-12 col-md-9">
                  <select name="grade" id="select" class="form-control">
                    <option th:value="${word.getGrade()}" required="">Unit [[${word.getGrade()}]]</option>
                    <option value="1">Unit 1</option>
                    <option value="2">Unit 2</option>
                    <option value="3">Unit 3</option>
                    <option value="4">Unit 4</option>
                    <option value="5">Unit 5</option>
                    <option value="6">Unit 6</option>
                    <option value="7">Unit 7</option>
                    <option value="8">Unit 8</option>
                    <option value="9">Unit 9</option>
                    <option value="10">Unit 10</option>
                    <option value="11">Unit 11</option>
                    <option value="12">Unit 12</option>
                    <option value="13">Unit 13</option>
                    <option value="14">Unit 14</option>
                    <option value="15">Unit 15</option>
                    <option value="16">Unit 16</option>
                    <option value="17">Unit 17</option>
                    <option value="18">Unit 18</option>
                    <option value="19">Unit 19</option>
                    <option value="20">Unit 20</option>
                    <option value="21">Unit 21</option>
                    <option value="22">Unit 22</option>
                    <option value="23">Unit 23</option>
                    <option value="24">Unit 24</option>
                    <option value="25">Unit 25</option>
                    <option value="26">Unit 26</option>
                    <option value="27">Unit 27</option>
                    <option value="28">Unit 28</option>
                    <option value="29">Unit 29</option>
                    <option value="30">Unit 30</option>
                  </select>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-success btn-lg btn-block w-50" type="submit">Gửi thay đổi</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="clearfix"></div>


</div><!-- /#right-panel -->


<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script th:src="@{/static/js/main.js}"></script>
</body>
</html>