<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.myenglish.mapper.WordMapper">

    <insert id="addWord" parameterType="com.springboot.myenglish.pojo.Word">
        insert into sql8587252.word(wordName, audio, englishInstance1, vietnameseInstance1, englishInstance2,
                                  vietnameseInstance2, explanation, grade)
        values (#{wordName}, #{audio}, #{englishInstance1}, #{vietnameseInstance1}, #{englishInstance2},
                #{vietnameseInstance2}, #{explanation}, #{grade});
    </insert>

    <delete id="deleteWord" parameterType="Integer">
        delete
        from sql8587252.word
        where wordId = #{wordId}
    </delete>

    <update id="updateWord" parameterType="com.springboot.myenglish.pojo.Word">
        update sql8587252.word
        set wordName=#{wordName},
            audio=#{audio},
            explanation=#{explanation},
            englishInstance1=#{englishInstance1},
            vietnameseInstance1=#{vietnameseInstance1},
            englishInstance2=#{englishInstance2},
            vietnameseInstance2=#{vietnameseInstance2},
            grade=#{grade}
        where wordId = #{wordId};
    </update>
    <update id="updateWordStudy1" parameterType="Integer">
        update sql8587252.word
        set study = 1
        where wordId = #{wordId}
    </update>
    <update id="updateWordStudy0" parameterType="Integer">
        update sql8587252.word
        set study = 0
        where wordId = #{wordId}
    </update>

    <update id="updateWordRemember1" parameterType="Integer">
        update sql8587252.word
        set remember = 1
        where wordId = #{wordId}
    </update>
    <update id="updateWordRemember0" parameterType="Integer">
        update sql8587252.word
        set remember = 0
        where wordId = #{wordId}
    </update>

    <update id="updateWordCollection1" parameterType="Integer">
        update sql8587252.word
        set collection=1
        where wordId = #{wordId}
    </update>
    <update id="updateWordCollection0" parameterType="Integer">
        update sql8587252.word
        set collection=0
        where wordId = #{wordId}
    </update>

    <update id="updateWordStudyByGrade" parameterType="Integer">
        update sql8587252.word
        set study=0,
            remember=0
        where grade = #{grade}
    </update>


    <select id="queryAllWord" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
    </select>

    <select id="queryWordById" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where wordId = #{wordId}
    </select>

    <select id="queryWordByKeyWords" resultType="com.springboot.myenglish.pojo.Word">
        <bind name="pattern" value="'%' + keyWords + '%'" />
        select *
        from sql8587252.word
        where wordName like #{pattern}
    </select>

    <select id="queryWordStudy0ByGrade" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where study = 0
          and grade = #{grade}
        ORDER BY RAND()
            limit 1
    </select>

    <select id="queryAllWordNumberByGrade" resultType="int">
        SELECT COUNT(wordId)
        FROM sql8587252.word
        where grade = #{grade}
    </select>
    <select id="queryRememberNumberByGrade" resultType="int">
        SELECT COUNT(wordId)
        FROM sql8587252.word
        where grade = #{grade}
          and remember = 1
    </select>
    <select id="queryStudyNumberByGrade" resultType="int">
        SELECT COUNT(wordId)
        FROM sql8587252.word
        where grade = #{grade}
          and study = 1
    </select>


    <select id="queryAllWordCollection" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where collection = 1
    </select>

    <select id="queryWordCollectionByGrade" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where collection = 1
          and grade = #{grade}
    </select>

    <select id="queryAllRemember" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where Remember = 1
    </select>

    <select id="queryAllWordRememberByGrade" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where Remember = 1
          and grade = #{grade}
    </select>

    <select id="queryAllWordUnrememberedByGrade" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where Remember = 1
          and grade = #{grade}
    </select>

    <select id="queryAllUnremembered" resultType="com.springboot.myenglish.pojo.Word">
        select *
        from sql8587252.word
        where Remember = 0
    </select>

</mapper>
