<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
    <!--style cần thiết-->
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <!--[if IE]>
    <script src="/static/js/html5.js"></script>
    <![endif]-->
</head>

<style>
    #demo-canvas {
        background-size: 100%;
    }
</style>
<body>
<div class="container ">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas" th:style="'background-image: url(/static/images/bg.png)'"></canvas>
            <div class="logo_box"
                 style="background-color: #fffffc;opacity: 1.0;height: 500px;border: 2px solid #f4f4f4;box-shadow: 3px 3px #dbd8d8">
                <h3 style="color: black">Chào mừng bạn đến với Get English</h3>
                <form th:action="@{/register}" method="post">
                    <!--                    <span >jdshfj</span>-->
                    <label style="color: black;margin-left: 5%">Tên tài khoản</label>
                    <div class="input_outer" style="background-color: #f4f4f4;">

                        <input name="userName" class="text" style="color: black ;" type="text"
                               placeholder="Vui lòng nhập tên người dùng" required>
                    </div>
                    <label style="color: black;margin-left: 5%">Email</label>
                    <div class="input_outer" style="background-color: #f4f4f4;">

                        <input name="email" class="text" style="color: black ;" type="email"
                               placeholder="Vui lòng nhập email của bạn" required>
                    </div>
                    <label style="color: black;margin-left: 5%">Password</label>
                    <div class="input_outer" style="background-color: #f4f4f4;">
                        <span class="us_uer"></span>
                        <input name="password" class="text"
                               style="color: black !important; position:absolute; z-index:100;" value=""
                               type="password" placeholder="Xin vui lòng nhập mật khẩu" required>
                    </div>

                    <div class="mb2">

                        <button type="submit" class="act-but submit" style="color: #fffffc;background-color: #209e85">
                            Đăng ký
                        </button>

                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<script src="/static/js/TweenLite.min.js"></script>
<script src="/static/js/EasePack.min.js"></script>
<script src="/static/js/rAF.js"></script>
<script src="/static/js/demo-1.js"></script>
</body>
</html>
